<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63852/SimpleService.svc/soap"
                      binding="basicHttpBinding" 
                      bindingConfiguration="BasicHttpBinding_ISimpleService"
                      contract="SimpleService.ISimpleService" 
                      name="BasicHttpBinding_ISimpleService" />
        </client>
        <services>
          <service name="SimpleService">
            <endpoint address="json"
                      behaviorConfiguration="WebHttpBehavior"
                      binding="webHttpBinding"
                      bindingConfiguration="BasicHttpBinding_ISimpleService"
                      contract="SimpleService.ISimpleService"/>
          </service>
        </services>
        <behaviors>
          <endpointBehaviors>
            <behavior name="WebHttpBehavior">
              <webHttp/>
            </behavior>
          </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>